.project {
  max-width: 810px;
  margin: 0 auto;
  padding: 0px 1.0875rem 1.45rem;
}

.project__info {
  margin-bottom: 30px;
}

.project__description {
  font-size: 14px;
  display: block;
  margin-bottom: 0px;
}

.project__title {
  color: hsla(0, 0%, 0%, 0.8);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.project__image {
  margin-bottom: 20px;
}

@media only screen and (max-device-width: 500px) {
  .project__description {
    margin-bottom: 15px;
  }
  .project__image {
    width: 100%;
    height: 100%;
    justify-self: center;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
