.projects {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@media only screen and (max-device-width: 767px) {
  .projects {
    justify-content: center;
  }
}
