.section-item {
  display: block;
  font-size: 12px;
  font-weight: 600;
}

.section-item--link {
  color: #454dc1;
}

@media only screen and (max-device-width: 500px) {
  .section-item {
    display: block;
    margin-bottom: 15px;
  }
}
