.section-item {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.section-item--link {
  color: #454dc1;
}

@media only screen and (max-device-width: 500px) {
  .section-item {
    display: block;
    margin-bottom: 15px;
  }
}
