.header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 100px 0;
  font-family: 'Roboto', sans-serif;
}

.header__title {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
}

.header__title__link {
  color: hsla(0, 0%, 0%, 0.8);
  text-decoration: none;
}

.menu--mobile {
  display: none;
}

@media only screen and (max-device-width: 1024px) {
  .menu--desktop {
    display: none;
  }
  .menu--mobile {
    display: block;
  }
}
