.section {
  padding: 20px 0;
}

.section__heading {
  margin-bottom: 0px;
  font-size: 85px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.section:nth-child(odd) .section__heading {
}

@media only screen and (max-device-width: 500px) {
  .section__heading {
    margin-bottom: 20px;
  }
}
